* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5dc; /* Krem */
    color: #333;
}

header {
    background: #3b2f2f; /* Coklat tua */
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    flex-direction: column; /* Mengatur produk dalam satu kolom */
    align-items: center; /* Mengatur produk agar berada di tengah */
    gap: 20px; /* Jarak antar produk */
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 700px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product h2 {
    margin: 15px 0;
    font-size: 3em;
}

.product p {
    margin-bottom: 20px;
    color: #666;
    font-size: 1.5em;
}

button {
    background: #3b2f2f; /* Coklat tua */
    color: #fff;
    border: none;
    padding: 20px 80px;
    font-size: 1.5em;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
